@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\000033}}
* {
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\000037}}
canvas {
  background: #2C3E50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000311}}
body {
  background-color: #f7f9fb;
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000320}}
.container {
  width: 100%;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000325}}
h1, h2, h3 {
  color: #34495e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000329}}
a {
  color: #3498db;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000332}}
a:hover {
  color: #2980b9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000337}}
.instructions {
  width: 30%;
  float: right;
  background: #34495E;
  color: #ecf0f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000343}}
.instructions p {
  margin: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000347}}
.instructions a {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000351}}
.instructions h2 {
  background: #2C3E50;
  padding: .5em 1em;
  margin: 0;
  color: #ecf0f1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000360}}
.score span {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000365}}
.message {
  width: 100%;
  background: #34495E;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  display: none;
  position: absolute;
  top: 40%;
  left: 0;
  color: #ecf0f1;
  border-top: 5px solid #ecf0f1;
  border-bottom: 5px solid #ecf0f1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/base\.scss}line{font-family:\0000380}}
.message h2 {
  font-size: 40px;
  color: #ecf0f1;
}

/* ----------------------------- */
/*  Phone only */
/* ----------------------------- */
/* ----------------------------- */
/* MEDIUM: iPad ver, smartphone horz, large phones vert */
/* ----------------------------- */
@media (min-width: 481px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/medium\.scss}line{font-family:\000036}}
  .container {
    width: 980px;
    margin: auto;
    padding: 1em;
  }
}
/* ----------------------------- */
/* LARGE: big phones, iPad horz, desktop */
/* ----------------------------- */
@media (min-width: 1025px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/james\/Documents\/1gam\/tetrisclone\/app\/styles\/large\.scss}line{font-family:\000035}}
  .container {
    width: 960px;
    margin: auto;
  }
}
